*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide{
  display: none !important;
}

.container{
  width: 30rem;
    .btn.btn-primary{
    background-color: #f20000;
    border-color: #f20000;
    position: relative;

    &:hover{
      border-color: #a30000;
      background-color: #a30000;
    }

    &::before{
      content: "";
      position: absolute;
      bottom: -1rem;
      right: 0;
      background-color: #0000007c;
      width: 100%;
      height: .15rem;
    }
  }

  .card{
    .card-title-box{
      position: relative;
      h2{
        font-size: 1.5rem !important;
      }
      #menu-toogle{
        background: url("/images/icons8-menu-2-50.png");
        background-size: cover;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
      }
      .manipulate-comment-menu{
        position: absolute;
        right: -2rem;
        top: -2.2rem;
        width: 2.5rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: .5s;
        #remove{
          justify-self: flex-end;
          background: url("/images/red-trash.svg");
          background-size: cover;
          cursor: pointer;
          width: 1.5rem;
          height: 1.5rem;
          &:hover{
            background: url("/images/black-trash.svg");
            background-size: cover;
          }
        }
        #edit{
          justify-self: flex-end;
          background: url("/images/icons8-editar-50.png");
          background-size: cover;
          cursor: pointer;
          width: 1.5rem;
          height: 1.5rem;
        }

        &.active{
          width: 2.5rem;
          height: 5rem;
          visibility: visible;

        }
      }

      
    }
  }
}
